@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap");
/* Start preset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Cairo", sans-serif;
}
html,
body {
  height: 100%;
  background-color: var(--main);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--forth-color);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
:root {
  --primary-color: #004643;
  --secondary-color: #ff4500;
  --btn2-color: #ff4500;
  --third-color: #fffffe;
  --forth-color: #e8e4e6;
  --btn-color: #f9bc60;
  --cream-color: #fffdd0;
}
/* End preset */
header {
  background-color: var(--third-color);
  position: fixed;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.151);
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6% 1%;
}
nav .logo {
  display: flex;
  align-items: center;
  margin-right: 20%;
}
.logo:hover {
  cursor: pointer;
}
nav .logo .name {
  color: var(--primary-color);
}
.red {
  color: var(--btn2-color);
}
.logo i {
  margin-left: 20px;
  padding-right: 10px;
  color: var(--secondary-color);
}
.searchBar {
  width: 50%;
  display: flex;
}

.searchTerm {
  width: 50%;
  border: 2px solid var(--secondary-color);
  border-right: none;
  padding: 0.8%;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: var(--primary-color);
}

.searchButton {
  padding: 0.5% 1%;
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
/* .btns {
  display: flex;
  align-items: center;
} */
.addPost,
.user {
  display: none;
  background-color: transparent;
  border: 0;
  color: var(--primary-color);
  text-align: center;
  cursor: pointer;
}
.items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.headerAvatar {
  width: 40px;
  height: 35px;
}
.signUp,
.signIn {
  border: 2px solid var(--btn2-color);
  border-radius: 25px;
  margin-right: 0px;
  padding: 0.5% 1%;
  cursor: pointer;
  width: 14%;
}

.addPost,
.signIn {
  margin-right: 10px;
}
.fa-plus,
.headerAvatar,
.fa-user,
.fa-right-from-bracket,
.username {
  padding-right: 5px;
}
.signIn {
  color: var(--btn2-color);
  background-color: transparent;
}
.signUp {
  background-color: var(--btn2-color);
  color: var(--third-color);
  transform: translateX(-50%);
  transition: 0.3s;
  animation: bouncing 1.3s infinite;
}
.signIn:hover,
.signUp:hover {
  scale: 1.08;
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateX(-5px);
  }
}
.dropdown-btns {
  right: 0;
  margin-top: 1.5px;
  color: var(--primary-color);
  display: none;
  position: absolute;
  width: max-content;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-btns button {
  background-color: var(--third-color);
  width: 100%;
  text-align: left;
  border: 0;
  color: var(--primary-color);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-btns button:hover,
.addPost:hover {
  color: var(--btn2-color);
}
.addPost:hover,
.user:hover {
  scale: 1.07;
}

.dropdown:hover .dropdown-btns {
  display: block;
}
.createPostSectionHome {
  margin-top: 13vh;
  margin-bottom: 1%;
  display: none;
  background-color: var(--third-color);
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 1% 2%;
  border-radius: 5px;
}
.createPostSectionHome input {
  width: 100%;
  margin-right: 10px;
  border: 1px solid var(--forth-color);
  background-color: var(--forth-color);
  border-radius: 5px;
  padding: 5px 12px;
  color: var(--primary-color);
}
.createPostSectionHome i {
  color: #c0babd;
  cursor: pointer;
}
.createPostSectionHome i:hover {
  scale: 1.05;
}
.postsSection,
.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.post {
  background-color: var(--third-color);
  padding: 1.5% 2%;
  border-radius: 5px;
  width: 50%;
  margin: 0.5% 0;
  display: flex;
  flex-direction: column;
}
.post .userData {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.commentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CommentInputDiv textarea {
  width: 100%;
  padding: 1% 2%;
  border: 1px solid var(--forth-color);
  border-radius: 3px;
  color: var(--primary-color);
}
.CommentInputDiv textarea:focus {
  outline: none;
  border: 1.5px solid var(--primary-color);
}
.addCommentBtn {
  background-color: transparent;
  /* border: 1px solid var(--btn2-color); */
  border: 0;
  border-radius: 3px;
  color: var(--btn2-color);
  /* padding: 0.5% 2%;  */
}
.addCommentBtn:hover {
  background-color: var(--cream-color);
  scale: 1.05;
}
.comment {
  padding: 1%;
  background-color: var(--cream-color);
  margin-bottom: 10px;
  border-radius: 3px;
}
.commentedBy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentUserInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.commentAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.post .userData .avatar,
.createPostSectionHome .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.post .userData .userData2,
.commentUsername {
  color: var(--primary-color);
}
.post .userData .userData2 .timeAdded {
  margin-top: -5px;
  color: var(--secondary-color);
}
.commentTime {
  /* margin-left: 10px; */
  color: var(--btn2-color);
}
.commentContent {
  margin-top: 0;
  margin-left: 40px;
  color: var(--primary-color);
}
.post .name:hover,
.post .avatar:hover,
.postUsername:hover {
  cursor: pointer;
}
.post .content {
  margin-left: 5px;
  margin-bottom: 10px;
}
.post .image {
  border: 1px solid whitesmoke;
  margin-bottom: 10px;
  align-self: center;
}
.post .comments,
.commentsLabel {
  width: fit-content;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--btn2-color);
  color: var(--btn2-color);
  border: 0;
}
.post .comments i {
  padding-right: 5px;
  color: var(--btn2-color);
}
.comments:hover {
  background-color: var(--forth-color);
  cursor: pointer;
  scale: 1.05;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createPostSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 90px;
  margin-top: 12vh;
  padding: 1% 2%;
  background-color: var(--third-color);
  border-radius: 5px;
}
.createPostSection .title {
  border-bottom: 1px solid var(--third-color);
  color: var(--primary-color);
  margin-bottom: 10px;
}
.createPostSection .postControl {
  background-color: var(--third-color);
}
.createPostSection .options {
  display: flex;
  background-color: var(--third-color);
  width: 100%;
  margin-bottom: 5px;
}
.options button {
  width: 50%;
  background-color: transparent;
  border: 1px solid var(--forth-color);
  padding: 7px 0;
  cursor: pointer;
  color: var(--primary-color);
}
.options .textContentBtn {
  color: var(--btn2-color);
  background-color: var(--cream-color);
  border-color: var(--btn2-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 5px;
}
.options .postImageBtn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.options .postImageBtn:hover {
  background-color: var(--cream-color);
}
.options .inputs {
  margin-bottom: 5px;
}
#text,
.imageURL {
  width: 100%;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid var(--forth-color);
  color: var(--primary-color);
}
.imageURL {
  width: 80%;
  margin-bottom: 5px;
  margin-right: 10px;
  height: max-content;
}
#text:focus,
.imageURL:focus,
.createPostSectionHome input:focus {
  outline: none;
  border-color: var(--primary-color);
}
.addImage {
  display: none;
  align-items: flex-start;
}
.addImage button {
  border: none;
  background-color: var(--forth-color);
  color: var(--btn2-color);
  padding: 6px 7px;
  border-radius: 5px;
}
.imagePreview {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.previewedImage {
  width: max-content;
  height: max-content;
  text-align: center;
}
.postBtn {
  width: 100%;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
  border: 0;
  background-color: var(--btn2-color);
  color: var(--third-color);
}
.postBtn:hover {
  scale: 1.01;
}

.profileData {
  display: flex;
  align-items: center;
  margin-top: 10vh;
  background-color: #fffdd0;
  width: 50%;
  padding: 1% 2%;
  border-radius: 5px;
}
.profileAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.profileUsername{
  color: black;
}
.profilePostsNum{
  color:var(--btn2-color)
}
